*.npz
*.pt

*.tif
*.gz
outlier_analysis.py
SatMAE-main
*.zip
smap_pretrain
plot_fews.py
eval_pretrain.py
*.pyc
.DS_Store
*.pth
*.csv
reference_data/fews_acute_food_insecurity_data
CNN/model/strategy.md